@font-face {
    font-family: 'Slowing';
    src: url('Slowing.woff2') format('woff2'),
        url('Slowing.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Super Histories';
    src: url('SuperHistories-Regular.woff2') format('woff2'),
        url('SuperHistories-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

